<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Course List</title>
</head>
<body>
<div>
  <ngx-datatable
    #table
    class="bootstrap"
    [columns]="dtColumns"
    [columnMode]="'force'"
    [headerHeight]="30"
    [footerHeight]="30"
    [rowHeight]="'auto'"
    [limit]="13"
    [rows]="courseList">
  </ngx-datatable>
  <ng-template #actionsTemplate let-row="row" let-value="value">
    <div class="btn-group w-100" dropdown container="body">
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-sm rounded-0"
              aria-controls="dropdown-basic">
        Actions <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li style="cursor: pointer" role="menuitem" class="dropdown-item" (click)="updateCourse(row)">
          <span><i class="fa fa-sliders"></i>Update Course</span>
        </li>
      </ul>
    </div>
  </ng-template>

</div>
</body>
</html>
